div.intro {
  background-color: aliceblue;
  padding: 10px;
}

button.editIntro {
  margin-top: 20px;
  display: inline-block;
}

h1.introHeader {
  color: rgb(43, 155, 199);
}

img.introImage {
  padding: 5px;
}

p.introDescription {
  padding: 5px;
}
